.container {
    overflow: hidden;
    margin-bottom: 50px;

    .form-item-container {
        margin: 0 12px;
        padding: 12px;
        width: auto !important;
    }

    .component-wrapper {
        margin: 0 12px;
        padding: 12px;
    }

    .footer-btn {
        height: 50px !important;
        width: 100vw;
        max-width: 450px;
        min-width: 375px;
        position: fixed;
        bottom: 0;
    }
}

.submitted-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .icon {
        font-size: 150px;
        color: rgb(115, 225, 132);
        margin: 60px 0 0;
    }
}